{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?nature,water');
    background-size: cover;
    background-position: top center;
  }
  
  .app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}
  
  header input {
    width: 100%;
  max-width: 280px;
  padding: 10px 25px;
    border: none;
    outline: none;
    background-color: rgb(10, 10, 10);
    color:aliceblue; 
    border-radius: 23px 0px 16px 0px;
    
    color: #313131;
    font-size: 24px;
    font-weight: 300;
    transition: 0.2s ease-out;
  }
  
  header input:focus {
    background-color: rgb(3, 245, 36);
  }
  
  main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .location .city {
    color: white;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .location .date {
    color: white;
    font-size: 24px;
  }
  
  .current .temp {
    color: white;
    font-size: 90px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
  }
  
  .current .temp span {
    font-weight: 500;
  }
  
  .current .weather {
    color: white;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  }
